/* Define box-sizing e remove margens/paddings padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Estiliza o corpo da página, com gradiente de fundo e centralização do conteúdo */
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal com bordas arredondadas e sombra */
.container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

/* Cabeçalho do formulário com fundo claro */
.header {
    background-color: #eee;
    padding: 20px;
}

/* Define espaçamento interno do formulário */
.form {
    padding: 20px;
}

/* Espaçamento entre os controles do formulário e posição dos ícones */
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* Estiliza o rótulo dos campos */
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

/* Estiliza os campos de entrada (inputs) */
.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

/* Ícones nos campos, inicialmente ocultos */
.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

/* Mensagens de erro inicialmente ocultas */
.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

/* Estiliza o botão de envio */
.form button {
    background-color: #fc00ff;
    border: 2px solid #fc00ff;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

/* Estilo de sucesso e erro para campos */
.form-control.success input {
    border-color: #2ecc71; /* Verde para sucesso */
}

.form-control.error input {
    border-color: #e74c3c; /* Vermelho para erro */
}

/* Ícone de sucesso visível */
.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

/* Ícone de erro visível */
.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

/* Mensagem de erro visível */
.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}
